
.flex-container{
    display: flex;
    background-color: #f1f1f1;
}

.flex-container > div {
    background-color: dodgerblue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

/* order-property */
.order-property {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
}

.order-property > div {
    background-color: dodgerblue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

/* flx-shrink property */
.flex-shrink{
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
}

.flex-shrink > div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

/* flex-basis */
.flex-basis{
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
}

.flex-basis > div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}


/* align-self */
.align-self{
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
    height: 200px;
}

.align-self > div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
