div {
    border: 2px solid grey;
    padding: 8px;
}

h1 {
    text-decoration: overline;
    text-decoration-color: red;
    text-decoration-style: dotted;
    text-decoration-thickness: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;    
    text-shadow: 2px 2px 5px lightgreen;
}

/* note: letter-spacing can be positive if u want to increase the space eor negative in case u want to decrease the space */
p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    line-height: 0.9;
    word-spacing: 10px;
}

h2 {
    text-decoration: line-through;
    text-decoration-color: blue;
    text-decoration-style: double;
    text-align: right;
}

h3 {
    text-shadow: 2px 2px;

}

h4.ex1 {
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-style: wavy;
    text-decoration-thickness: 25%;
    direction: rtl;
    unicode-bidi: bidi-override;
}



img.a {
    vertical-align: baseline;
}

img.b {
    vertical-align: text-top;
}

img.c {
    vertical-align: text-bottom;
}

img.d {
    vertical-align: sub;
}

img.e {
    vertical-align: super;
}

h6 {
    text-decoration: overline underline;
    text-decoration-color: purple;
}

/* Short hand  */
/* 
text-decoration: underline red double 5px;
 */